.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-dark-violet);
  padding: 1.5rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 0.5rem;
  color: var(--white);
}
