body {
    background: #6d6875;
}

.logo {
    font-size: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffcdb2;
    padding: 1.5rem;
}