.cardStyles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  color: var(--grayish-fine);
  background: var(--primary-dark-violet);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media (min-width: 648px) {
  .cardStyles {
    width: 20rem;
  }
}
